input {
  padding: 6px 12px;
  padding-right: 24px;
  border-radius: 16px;
  border: none;
}

input:focus-within {
  border: none;
}

section {
  background-color: #e4f0e5fb;
  border-radius: 16px;
  margin: 16px 0;
  padding: 16px;
  border: 1px solid #5f71612f;
}

.App {
  color: #1b1a17;
  padding: 4px 120px;
}
.App-header {
  font-family: "Playfair Display", serif;
  font-size: 700;
}
.search-section {
  text-align: center;
  border-radius: 16px;
  padding: 40px 0px;
  background-color: #5f7161;
  border: none;
}

.button {
  display: inline-block;
  padding: 4px 16px;
  border: 1px solid #5f7161;
  border-radius: 32px;

  color: #5f7161;
  margin: 4px 4px 0 0;
}

.button:hover {
  background-color: #5f7161;
  color: #ffffff;
}
