header {
  text-align: center;
  border-radius: 12px;
  background-color: #ee5e2a;
  padding: 50px 0px;
}
h1 {
  font-size: 54px;
}
form {
  text-align: center;
}

input {
  padding: 6px 12px;
  padding-right: 24px;
  border-radius: 16px;
  border: none;
}

input:focus-within {
  border: none;
}

section {
  padding: 16px;
  margin: 16px 0;
  border-radius: 16px;
  background-color: #f7b321;
}

.App {
  color: #1b1a17;
  padding: 16px 120px;
}
.App-header {
  font-family: "Playfair Display", serif;
  font-size: 700;
}
