input {
  padding: 6px 12px;
  padding-right: 24px;
  border-radius: 16px;
  border: none;
}

input:focus-within {
  border: none;
}

section {
  background-color: aliceblue;
  border-radius: 16px;
  margin: 16px 0;
  padding: 16px;
}

.App {
  color: #1b1a17;
  padding: 4px 120px;
}
.App-header {
  font-family: "Playfair Display", serif;
  font-size: 700;
}
.search-section {
  text-align: center;
  border-radius: 16px;
  padding: 40px 0px;
  background-color: #157bf0;
  border: none;
}
.button {
  padding: px 4px;
  color: #000;
  text-decoration: none;
  border: 1px solid #1b1a17;
}
